#informaciosdiv {
    width:100%
  }
  #nevinfo {
    float: right;
    border: 1px solid black;
    width: 50%;
    height: 100px;
  }
  .cimke{
    display: inline-block;
    width: 60px;
    text-align: right;
  }
  span {
    margin: 3px 5px;
  }
  label {
    display: inline-block;
    width: 70px;
    text-align: right;
  }
  select {
    width: 320px;
  }